<!DOCTYPE html>
<html lang="en">

<head>
    {{>headers}}
    <title>404 page</title>
</head>

<body class="bg-[#f8f6f1]">
    {{>navbar}}

    {{errorcomemt}}
    <h1>
        Oops page not found please proceed to the homepage
    </h1>
</body>

</html>