<!DOCTYPE html>
<html lang="en">

<head>
    {{>headers}}
    <title>Account</title>
    <style>
        .div {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<body class="bg-[#f8f6f1]">
    {{>navbar}}
    <div
        class="absolute top-96 left-1/2 transform -translate-x-1/2 -translate-y-1/2 border-2 px-5 py-5 rounded-2xl bg-[#F5F3F3]">
        <div class="buttons flex justify-center items-center mt-5">
            <a href="/login"><button
                    class="bg-[#ACC8E5] text-[#112A46] px-10 py-2 rounded-lg font-mono font-font-medium text-lg">Login</button></a>
            <button
                class="ml-4 bg-[#ACC8E5] text-[#112A46] px-9 py-2 rounded-lg font-mono font-medium text-lg">Register</button>
        </div>
        <div class="account flex justify-center items-center">
            <div id="loginForm" class="loginForm mt-3 ml-2">

            </div>
            <div id="Registerform" class="form ml-14 mt-3 ">
                <form action="/accountPage" method="post" onsubmit=validatePassword()>
                    <div class="name">
                        <label for="name" class="font-mono text-lg text-[#112A46]">Username</label>
                        <input type="text" name="username" required="true" placeholder="Enter your Username"
                            class="border-2 border-[#DDDDDD] px-2 pt-1 pb-1 rounded-lg mb-1 ml-24">
                    </div>
                    <div class="email">
                        <label for="email" class="font-mono text-lg text-[#112A46]">Email</label>
                        <input type="email" name="Register_email" required="true" id=""
                            placeholder="Enter your Email Address"
                            class="border-2 border-[#DDDDDD] px-2 pt-1 pb-1 rounded-lg mb-1 ml-32">
                    </div>
                    <div class="password">
                        <label for="password" class="font-mono text-lg text-[#112A46]">Password</label>
                        <input type="password" required="true" name="Register_password" id="password"
                            placeholder="Password" minlength="8"
                            class="border-2 border-[#DDDDDD] px-2 pt-1 pb-1 rounded-lg mb-1  ml-24">
                    </div>
                    <div class="conf_password">
                        <label for="conf_password" class="font-mono text-lg text-[#112A46]">Confirm Password</label>
                        <input type="password" required="true" name="conf_password" id="conf_password"
                            placeholder="Confirm Password"
                            class="border-2 border-[#DDDDDD] px-3 pt-1 pb-1 rounded-lg mb-1 ml-4">
                    </div>
                    <button
                        class="bg-[#ACC8E5] font-mono font-medium text-[#271717] text-lg px-10 py-1 rounded-lg mt-5 ml-12">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
<script>
    function validatePassword() {

        let conf_password = document.getElementById("conf_password");
        let password = document.getElementById("password");

        if (password.value != conf_password.value) {
            alert("Passwords do not match");
        }
    }

</script>

</html>