<!DOCTYPE html>
<html lang="en">
<head>
    {{>headers}}
    <title>Chains</title>
</head>
<body>
    {{>navbar}}
        <div class="braceletHeader">
            <div
                class="bg-no-repeat bg-[url('images/chainsMain.jpeg')] bg-cover w-auto h-auto md:pt-20 md:pr-20 md:pl-10 md:pb-20">
                <h1 class="flex justify-center items-center pb-14 pt-14 font-serif text-2xl md:text-5xl text-white">Chains
                </h1>
            </div>
        </div>
</body>
</html>